/* Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* Mobile first */
.wrapper {
  min-height: 100vh;
  min-width: calc(100vw - (100vw - 100%));
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222;
}

.btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-container #btn {
  margin: 50px 0;
  padding: 15px 25px;
  background-color: #474747;
  border: #222;
  color: #fff;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}

.btn-container #btn:hover {
  cursor: pointer;
  opacity: 0.9;
}

.output-cointainer {
  width: 100%;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.output-cointainer h1 {
  color: #fff;
}

.output-cointainer #output {
  width: 80%;
  margin-top: 25px;
  padding: 30px;
  border-radius: 5px;
  background-color: #fff;
}

#output {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.userCard {
  max-width: 100px;
  max-height: 100px;
  text-align: center;
}

.userCard:hover {
  text-decoration: underline;
}

.avatar {
  width: 100px;
  height: 100px;
  display: block;
  padding-top: 10px;
}

@media screen and (min-width: 768px) {
  .btn-container #btn {
    font-size: 3em;
  }

  .output-cointainer h1 {
    font-size: 3em;
  }

  #output {
    gap: 50px;
  }

  .userCard {
    max-width: 150px;
    max-height: 150px;
  }

  .avatar {
    width: 150px;
    height: 150px;
  }
}
